# Ignore the virtual environment folder
venv/

# Ignore the yapapi folder
yapapi/

# Ignore Python configuration files
pyvenv.cfg

# Ignore other unnecessary system files like logs or temporary files
*.log
*.tmp
